.card {
    box-shadow: 5px 10px 10px black;
    border-radius: 20px !important;
    height: 350px !important; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5); 
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.1); 
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: var(--font-heading);
}

.card-text {
    font-size: 1rem;
    color: #ccc;
}