.admin-home-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  color: #fff;
}

.sidebar {
  width: 250px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.head {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.requests-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.request-card {
  border: 1px solid #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: fit-content;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.request-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.request-card h4 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.request-card p {
  margin: 8px 0;
  font-size: 14px;
  color: #ddd;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.status-dropdown, .filters select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #2a2a3f;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.status-dropdown:hover, .filters select:hover {
  border-color: #777;
}

.status-dropdown option {
  background: #3a3a5f;
  color: #fff;
}

.status-icon {
  font-size: 24px;
}

.completed { color: #4caf50; }
.pending { color: #ffc107; }
.in-progress { color: #2196f3; }
.rejected { color: #f44336; }

.statistics {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.stat-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px 10px ;
  flex: 1;
  box-shadow: 0 5px 10px black;
}

.stat-card h3 {
  margin: 0;
  opacity: 70%;
  font-size: 18px;
}

.stat-card p {
  margin: 10px 0 0;
  font-size: 24px;
  font-weight: bold;
}

.search-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.card-details p {
  margin: 5px 0;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn-primary:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.couriers-table tr{
  border-bottom: 1px solid #333;
  color: white;
}