/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

.logo p {
    font-size: 20px;
    padding-top: 17px;
    font-weight: bold;
    color: var(--primary-color);
}

/* Links */
.links {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

.links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: 500;
}

.links a:hover {
    color: var(--primary-color);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px 0;
    transition: 0.4s;
}

/* When Menu is Open */
.hamburger span.open:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.hamburger span.open:nth-child(2) {
    opacity: 0;
}

.hamburger span.open:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 25%;
        left: 50%;
        width: 100%;
        max-width: 75%;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .links.open {
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
    }

    .hamburger {
        display: flex;
    }
}
